@use "partials/variables.scss" as *;
@import "~bootstrap/scss/bootstrap";

header{
    .blue-line{
        background-color: $blue_brand;
        padding: 5px 0;

        h5{
            font-size: 0.8rem;
        }
    }

    .my-nav{
        .logo-container{
            width: 70px;
            height: 70px;

            .dc-logo{
                width: 100%;
                height: 100%;
            }
        }

        ul{


            // a{
            //     color: $dark-gray-color;
            //     height: 100px;

            //     &:hover{
            //         color: $blue_brand;
            //         border-bottom: 3px solid $blue_brand;
            //     }
            // }

            a{
                color: black;
                text-decoration: none;
                display: flex;
                font-weight: bold;
                align-items: center;
                height: 110px;
                padding: 5px;
                transition: all .1s ease-in;
                &:hover,
                &.active{
                    color: $blue_brand;
                    border-bottom: 5px solid $blue_brand;
                }
            }

            .my-searchbar{
                border-bottom: 2px solid $blue_brand;
                .search-input{
                    border: none;
                    
                    &::placeholder{
                        color: $dark_gray_color;
                        text-align: end;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }

    }
}

main {
    .jumbotron{
        height: 400px;
        background-image: url(../img/jumbotron.jpg);
        object-fit: cover;
        background-position: top;
        position: relative;

        .abs-badge{
            position: absolute;
            bottom: -30px;
            color: white;
            background-color: $blue_brand;
            padding: 10px 20px;
        }
    }
    
    .main-comics-section{
        background-color: $main_background_color;
        padding: 60px 0;

        .comic-card{

            .img-container{
                width: 100%;
                height: 200px;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            h5{
                font-size: 1rem;
                text-transform: uppercase;
            }
        }

    }

    .main-icons-section{
        background-color: $blue_brand;

        .icon-container{
            width: 60px;
            height: 60px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h6{
            font-size: 0.8rem;
        }
    }
}

footer{
    .upper-footer{
        background-image: url(../img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 400px;

        ul{
            max-height: 320px;
        }

        a{
            color: #959595;
            font-size: 0.9rem;

            &:hover{
                color: white;
            }
        }

        p{
            color: #959595;
            font-size: 0.8rem;
            .foot-link{
                color: $blue_brand;
                text-decoration: none;
            }
        }

        .overflow-logo{
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 400px;
             
                img{
                    height: 150%;
                    display: block;
                }
        }
    }

    .lower-footer{
        background-color: $footer_gray_color;

        .foot-button{
            background-color: $footer_gray_color;
            border: 2px solid $blue_brand;
            font-size: 1rem;
            color: white;
            padding: 10px;

            &:hover{
                background-color: $blue_brand;
            }
        }

        h3{
            text-transform: uppercase;
            color: $blue_brand;
            font-size: 1.2rem;
            margin-bottom: 0;
            font-weight: bold;
        }

        
        img{
            border-radius: 50%;
            &:hover{
                background-color: white;
            }
        }
     
    }
}